body {
	font-family: Helvetica;
	font-weight: bold;
}

h1 {
	font-size: 20px;
	float:left;
}

h2,
h3,
h4 {
	text-align: center;
}

h2 {
	font-size: 30px;
	padding: 60px 0;
}

h3 {
	font-size: 18px;
}

h4 {
	font-size: 20px;
}


p {
	font-size: 11px;
}

li {
	font-size: 10px;
}