/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica;
  font-weight: bold; }

h1 {
  font-size: 20px;
  float: left; }

h2,
h3,
h4 {
  text-align: center; }

h2 {
  font-size: 30px;
  padding: 60px 0; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 20px; }

p {
  font-size: 11px; }

li {
  font-size: 10px; }

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  background: white;
  overflow: hidden; }

header {
  width: 1280px;
  height: 35px;
  position: fixed;
  padding-top: 15px;
  padding-left: 40px;
  background: white; }

nav {
  float: right;
  margin-right: 40px; }

li {
  display: inline;
  margin-right: 40px; }

.main-photo {
  max-width: 1280px;
  height: 580px;
  margin-top: 50px;
  background: url("../images/main-photo.jpg");
  background-size: cover;
  background-position: 0 -200px;
  background-repeat: no-repeat; }

.about-photos {
  border-radius: 100px;
  float: left;
  width: 200px;
  height: 200px; }

.hans-photo {
  background: url("../images/han.jpg");
  margin-left: 100px;
  margin-right: 240px; }

.chewy-photo {
  background: url("../images/chewbacca.jpg");
  margin-right: 240px; }

.darth-photo {
  background: url("../images/darth.jpg"); }

.about-content {
  min-height: 110px;
  width: 200px;
  padding-top: 20px;
  padding-bottom: 110px;
  float: left;
  text-align: center; }

.hans-about {
  margin-left: 100px; }

.chewy-about {
  margin-left: 240px; }

.darth-about {
  margin-left: 240px; }

.map-section {
  width: 1280px;
  height: 500px;
  background: #f2ede5;
  float: left; }

.map {
  width: 640px;
  height: 500px;
  float: left; }

.office {
  padding-top: 180px;
  padding-left: 130px;
  float: left; }

.our-office {
  text-align: left;
  padding-bottom: 40px; }

.office-text {
  text-align: left; }

footer {
  width: 1280px;
  height: 130px;
  float: left; }

.footer-text {
  padding-top: 55px;
  font-weight: normal; }

/*# sourceMappingURL=style.css.map */
