// STYLE GUIDE COLORS
$main: #222222;
$main-md: #4F4F4F;
$main-lt: #999999;

// BABY A'S COLORS
$purple: #87228D;
$pink: #EE3A79;
$blue: #5EBFD0;
$green: #BEDD1C;

$black: #191919;
$ltgrey: #BAB8B8;

$purp-grad: rgba(135,34,141,0.7);

.purple {
	background: $purple;
}

.pink {
	background: $pink;
}

.blue {
	background: $blue;
}

.green {
	background: $green;
}

.black {
	background: $black;
}

.white {
	background: white;
	border: 1px solid $ltgrey;
}