@media screen and (min-width: 60rem) {
	
	.nav-collapse {
		
	    a {
	      font-size: 18px;
	      font-size: 1.125rem;
	    }
    
	}

	.main-menu {
		width: 66.667%;

		.item {
			width: 45%;
			float: left;
			margin-right: 5%;
			min-height: 200px;
		}
	}

	.menu-nav {
		width: 33.333%;
	}

	.about {
		p {
			max-width: 1000px;
			width: 66.667%;
		}
	}

} //end of media query