/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: ff-enzo-web, Helvetica, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.6;
  color: #191919; }

h1 {
  font-size: 68px;
  font-size: 4.25rem;
  font-weight: 700;
  line-height: 1.4;
  color: white;
  text-shadow: 2px 2px 2px #5EBFD0; }

h2 {
  font-size: 50px;
  font-size: 3.125rem;
  font-weight: 700;
  line-height: 1.4;
  color: white; }

h3 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: 300;
  color: white; }

h4 {
  font-size: 22px;
  font-size: 1.375rem;
  font-weight: 700;
  color: white;
  margin-left: 0.5rem; }

h5 {
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: 300; }

p {
  margin: 0.5rem; }

.price {
  font-size: 15px;
  font-size: 0.939rem;
  font-weight: 700;
  margin-left: 2rem;
  float: right; }

a {
  text-decoration: none;
  color: white; }

.link {
  color: #87228D;
  border-bottom: 2px solid #BEDD1C; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img {
  max-width: 100%; }

.container {
  background: #BEDD1C; }

.header-nav {
  background: #87228D;
  overflow: hidden; }
  .header-nav p {
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 1rem;
    display: inline-block; }

.header-index, .header-lunch, .header-locations {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem; }
  .header-index h1, .header-lunch h1, .header-locations h1 {
    text-align: center;
    padding-top: 13rem;
    padding-bottom: 2rem; }

.header-index {
  background: #87228D;
  background: linear-gradient(rgba(135, 34, 141, 0.3), rgba(135, 34, 141, 0.3)), url("../images/restaurant_far_north.jpg");
  background-size: cover;
  background-position: center; }

.header-lunch {
  background: linear-gradient(rgba(135, 34, 141, 0.3), rgba(135, 34, 141, 0.3)), url("../images/babyA_ceiling_hendrix.jpeg");
  background-size: cover;
  background-position: center; }

.header-locations {
  background: linear-gradient(rgba(135, 34, 141, 0.3), rgba(135, 34, 141, 0.3)), url("../images/restaurant_collage.jpg");
  background-size: cover;
  background-position: center; }

.sub-header {
  background: #5EBFD0;
  color: white;
  text-align: center; }

.mid-content {
  overflow: hidden;
  background: white; }

.about {
  background: white;
  padding: 1rem; }
  .about h3 {
    color: #EE3A79; }
  .about p {
    margin: 1rem; }

.addresses {
  padding: 1rem;
  width: 90%;
  margin: 0 auto; }
  .addresses img, .addresses .address-deats {
    display: inline-block;
    vertical-align: middle; }
  .addresses img {
    margin: 1rem 0.50rem;
    width: 35%;
    border-radius: 3px;
    border-radius: 0.1875; }
  .addresses h5 {
    color: #EE3A79;
    font-weight: 700; }
  .addresses p {
    margin: 0; }
  .addresses a {
    color: #191919; }
    .addresses a:hover {
      font-weight: 700;
      color: #87228D; }

.iframe {
  margin: 2rem;
  border-radius: 3px;
  border-radius: 0.1875rem; }

.main-menu {
  overflow: hidden; }

.item {
  width: 90%;
  margin: 1rem auto;
  overflow: hidden;
  background: white; }
  .item .pink-box {
    background: #EE3A79;
    border-radius: 3px;
    border-radius: 0.1875rem; }

.lighter-items {
  background: #5EBFD0;
  margin: 0.75rem 0;
  clear: left;
  border-radius: 3px;
  border-radius: 0.1875rem; }
  .lighter-items h3 {
    margin-left: 0.5rem; }

.menu {
  background: white;
  padding-top: 1rem;
  margin-top: 0.75rem; }

.menu-nav {
  background: white;
  background-size: cover;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .menu-nav .menu-link {
    background: #5EBFD0;
    border-radius: 3px;
    border-radius: 0.1875rem;
    font-size: 30px;
    font-weight: 300;
    color: white;
    margin: 1.5rem; }
    .menu-nav .menu-link:hover {
      background: #EE3A79;
      cursor: pointer;
      box-shadow: 3px 3px 3px #BAB8B8; }
      .menu-nav .menu-link:hover a {
        font-weight: 700; }
  .menu-nav p, .menu-nav img {
    display: inline-block;
    vertical-align: middle; }
  .menu-nav p {
    font-size: 20px;
    font-size: 1.25rem; }
  .menu-nav img {
    width: 20%;
    padding: 1rem 0 1rem 1rem; }

.locations {
  margin: 0.75rem 0;
  padding: 1rem;
  background: #5EBFD0;
  overflow: hidden; }
  .locations .center {
    margin: 0 auto;
    width: 90%;
    overflow: hidden; }
  .locations .location-bg {
    color: white;
    overflow: hidden;
    float: left;
    padding: 7rem 1rem 1rem 1rem;
    margin: 1rem;
    text-align: center;
    min-width: 160px;
    background: #87228D;
    border-radius: 3px;
    border-radius: 0.1875rem; }
    .locations .location-bg h5 {
      font-weight: 700;
      text-shadow: 2px 2px 2px #5EBFD0; }
      .locations .location-bg h5:hover {
        color: #87228D;
        text-shadow: 2px 2px 2px white; }
  .locations .barton-springs {
    background: linear-gradient(to right, rgba(135, 34, 141, 0.7), rgba(135, 34, 141, 0.7)), url("../images/barton_springs.jpg");
    background-size: cover; }
    .locations .barton-springs:hover {
      background: url("../images/barton_springs.jpg");
      background-size: cover;
      color: #87228D;
      cursor: pointer; }
  .locations .arboretum {
    background: linear-gradient(to right, rgba(135, 34, 141, 0.7), rgba(135, 34, 141, 0.7)), url("../images/arboretum.jpg");
    background-size: cover; }
    .locations .arboretum:hover {
      background: url("../images/arboretum.jpg");
      background-size: cover;
      color: #87228D;
      cursor: pointer; }
  .locations .far-north {
    background: linear-gradient(to right, rgba(135, 34, 141, 0.7), rgba(135, 34, 141, 0.7)), url("../images/far_north.jpg");
    background-size: cover; }
    .locations .far-north:hover {
      background: url("../images/far_north.jpg");
      background-size: cover;
      color: #87228D;
      cursor: pointer; }
  .locations .central {
    background: linear-gradient(to right, rgba(135, 34, 141, 0.7), rgba(135, 34, 141, 0.7)), url("../images/central.jpg");
    background-size: cover; }
    .locations .central:hover {
      background: url("../images/central.jpg");
      background-size: cover;
      color: #87228D;
      cursor: pointer; }
  .locations .east-side {
    background: linear-gradient(to right, rgba(135, 34, 141, 0.7), rgba(135, 34, 141, 0.7)), url("../images/east_side.jpg");
    background-size: cover; }
    .locations .east-side:hover {
      background: url("../images/east_side.jpg");
      background-size: cover;
      color: #87228D;
      cursor: pointer; }

footer {
  background: #87228D;
  color: white;
  font-weight: 700;
  padding: 1rem;
  margin-top: 0.75rem;
  overflow: hidden;
  width: 100%; }
  footer div {
    max-width: 700px;
    margin: 0 auto; }
  footer .left {
    float: left; }
  footer .right {
    float: right;
    text-align: right; }
  footer li {
    padding: 0.75rem; }
    footer li a {
      font-weight: 600; }

@media screen and (min-width: 560px) {
  .menu {
    overflow: hidden; }

  .main-menu {
    width: 58.333%;
    float: right;
    margin-right: 0;
    padding: 1rem; }
    .main-menu .item {
      width: 100%; }

  .menu-nav {
    width: 41.667%;
    float: left; }
    .menu-nav img {
      display: none; }

  .about {
    width: 58.333%;
    float: right; }

  .addresses {
    width: 58.333%;
    max-width: 475px;
    padding: 0;
    margin: 1rem;
    float: right; }

  .js .nav-collapse {
    display: inline-block; } }
@media screen and (min-width: 650px) {
  .nav-collapse ul {
    width: 80%;
    float: right; } }
@media screen and (min-width: 60rem) {
  .nav-collapse a {
    font-size: 18px;
    font-size: 1.125rem; }

  .main-menu {
    width: 66.667%; }
    .main-menu .item {
      width: 45%;
      float: left;
      margin-right: 5%;
      min-height: 200px; }

  .menu-nav {
    width: 33.333%; }

  .about p {
    max-width: 1000px;
    width: 66.667%; } }
/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse {
  display: inline;
  width: 90%;
  float: right; }
  .nav-collapse ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden; }
  .nav-collapse li {
    margin-bottom: .5em;
    float: left;
    margin-right: 7%; }
  .nav-collapse li:last-child {
    margin-right: 0; }
  .nav-collapse a {
    text-decoration: none;
    color: white; }

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1; }

.nav-collapse.opened {
  max-height: 9999px; }

.nav-toggle {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-size: 1.125rem;
  float: right;
  padding: 1rem;
  margin: 0.5rem; }

@media screen and (min-width: 560px) {
  .js .nav-collapse {
    position: relative; }

  .js .nav-collapse.closed {
    max-height: none; }

  .nav-toggle {
    display: none; }

  .nav-collapse {
    width: calc(100% - 130px); }
    .nav-collapse ul {
      margin: 0 auto;
      padding: 1.5rem; } }

/*# sourceMappingURL=style.css.map */
