
/*
==============================================================
OVERALL LAYOUT
==============================================================
*/

html {
	box-sizing: border-box;
}

*, 
*:before, 
*:after {
	box-sizing: inherit;
}

.container, header, .top-header {
	width: 1280px;
	margin: 0 auto;
}

.container {
	background: #f5f8fa;
	/*height: 3000px;*/
	overflow: hidden;
}

.mid-container {
	width: 950px;
	margin: 0 auto;
}

.tweets-container {
	width: 635px;
	float: right;
	position: relative;
}

/*
==============================================================
TYPOGRAPHY
==============================================================
*/

body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	font-size: 1rem;
}

h1 {
	font-size: 24px;
	font-size: 1.5rem;
	font-weight: bold;
	/*line-height: 1.2;*/
}

h2 {
	text-transform: uppercase;
	color: #6c7b84;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1.8;
}

h3 {
	font-size: 20px;
	font-size: 1.25rem;
	color: #0095d3;
}

h4 {
	font-weight: lighter;
	font-size: 26px;
	line-height: 1.3;
}

h5 {
	font-size: 24px;
	font-size: 1.5rem;
	color: #7d8b94;
	font-weight: lighter;
}

.h5-2 {
 	font-size: 19px;
 	font-size: 1.188rem;
}

h6, .bottom-nav {
	font-size: 13px;
	font-size: 0.813rem;
	color: #8799a6;
	line-height: 1.5;
}

p {
	line-height: 1.4;
}

/*
==============================================================
REPEATED STYLING
==============================================================
*/

.grey-border {
	border-radius: 5px;
	border: 2px solid #e8edf1;
}

.border {
	border-radius: 5px;
}

.selected-text {
	color: black;
	font-weight: normal;
}

.unselected-text {
	font-weight: lighter;
}

.bold {
	font-weight: bold;
}

.normal {
	font-weight: normal;
}

.white-text {
	color: white;
}

.light-grey-text {
	color: #ccd6dd;
}

.story-text {
	font-size: 18px;
}

.grey-handle {
	color: #9fadb7;
}

.small-font {
	font-size: 14px;
	font-size: 0.875rem;
	line-height: 1.5;
}

.float-left {
	float: left;
}

.icon-size {
	width: 25px;
	display: inline-block;
	vertical-align: middle;
}

.icon-size2 {
	width: 20px;
	height: 15px;
	display: inline-block;
	vertical-align: middle;
}

.tweet-avatar {
	width: 65%;
	position: absolute;
	top: 20px;
	right: 0px;
	border-radius: 5px;
}

.top-space {
	margin-top: 10px;
}

.bottom-space {
	margin-bottom: 10px;
}

.test-border {
	border: 1px dashed blue;
}

a {
	text-decoration: none;
	color: #0095d3; 
}

/*
==============================================================
HEADER
==============================================================
*/

header, .top-header, .mid-bar {
	background: white;
}

/*
------------------------------
Top Header
------------------------------
*/

.top-header {
	height: 50px;
	position: fixed;
	z-index: 1;
}

.top-header-content {
	width: 950px;
	margin: 0 auto;
}

.twitter-logo {
	width: 50px;
	padding-top: 15px;
	padding-left: 25px;
	float: left;
}

.upper-right-bars {
	float: right;
	margin-right: 30px;
}

.search-bar {
	width: 240px;
	margin-top: 5px;
	padding: 8px 12px;
	background: #f5f8fa;
	border: 2px solid #e7edf0;
	border-radius: 30px;
	float: left;
}

.search-text {
	float: left;
}

.search-icon {
	width: 15px;
	float:right;
}

.login-bar {
	width: 170px;
	margin-left: 20px;
	float: left;
	color: #52636f;
}

.account-text {
	margin-top: 15px;
	color: #4e606b;
}


/*
------------------------------
Hero Image
------------------------------
*/

.hero {
	width: 1280px;
	height: 324px;
	position: relative;
	top: 50px;
	background: url("../twitter.png/banner.jpg");
	background-size: cover;
	background-position: 0 -50px;
}

/*
------------------------------
Middle Bar
------------------------------
*/

.mid-bar {
	height: 65px;
	width: 1280px;
	margin: 0 auto;
	position: relative;
	top: 50px;
	border-bottom: 2px solid #e9eef2;
}

.section-IY-logo {
	width: 320px;
	margin-left: 10px;
	float: left;
	border: 1px solid white;
}

.contain-IY-logo {
	width: 227px;
	height: 227px;
	background: white;
	border-radius: 10px;
	border-bottom: 2px solid #e9eef2;
	border-left: 1px solid #f7f9fb;
	border-right: 1px solid #f7f9fb;
	position: absolute;
	bottom: -30px;
}

.big-IY-logo {
	width: 220px;
}

.nav-bar {
	width: 630px;
	float: right;
}

.nav-box {
	text-align: center;
	padding: 5px 15px 11px 15px;
	float: left;
}

.selected-nav {
	border-bottom: 5px solid #0095d3;
}

.follow-btn {
	width: 110px;
	background: #f7f9fb;
	background: linear gradient (white, #c8cbce);
	margin-top: 10px;
	float: right;
}

.follow-icon {
	width: 25px;
	margin-left: 10px;
}

.follow-text,
.follow-icon {
	display: inline-block;
	vertical-align: middle;
	margin-top: 5px;
	margin-bottom: 5px;
}

/*
==============================================================
ASIDE
==============================================================
*/

aside {
	width: 320px;
	position: relative;
	margin-top: 90px;
}

/*
------------------------------
Iron Yard About
------------------------------
*/

.IY-about {
	width: 320px;
	padding-left: 10px;
	padding-right: 40px;
}

.IY-about-text {
	margin-top: 10px;
	margin-bottom: 10px;
}

/*
------------------------------
Photos Section
------------------------------
*/

.photos-sect {
	width: 320px;
	margin-top: 25px;
	padding-left: 10px;
}

.photo1 {
  height: 90px;
  width: 90px;
  margin-right: 5px; 
  margin-top: 10px;
  background: url("../twitter.png/thumb-1.jpg");
  background-size: cover;
  float: left;
}

.photo2 {
  height: 90px;
  width: 90px;
  margin-right: 5px; 
  margin-top: 10px;
  background: url("../twitter.png/thumb-2.jpg");
  background-size: cover;
  float: left;
}

.photo3 {
  height: 90px;
  width: 90px;
  margin-right: 5px; 
  margin-top: 10px;
  background: url("../twitter.png/thumb-3.jpg");
  background-size: cover;
  float: left;
}

.photo4 {
  height: 90px;
  width: 90px;
  margin-right: 5px; 
  margin-top: 5px;
  background: url("../twitter.png/thumb-4.jpg");
  background-size: cover;
  float: left;
}

.photo5 {
  height: 90px;
  width: 90px;
  margin-right: 5px; 
  margin-top: 5px;
  background: url("../twitter.png/thumb-5.jpg");
  background-size: cover;
  float: left;
}

.photo6 {
  height: 90px;
  width: 90px;
  margin-right: 5px; 
  margin-top: 5px;
  background: url("../twitter.png/thumb-6.jpg");
  background-size: cover;
  float: left;
}

/*
------------------------------
New to Twitter?
------------------------------
*/

.new {
	width: 310px;
	background: #e1e8ed;
	padding: 20px 15px 15px 15px;
	position: absolute;
	top: 470px;
}

.signup-text {
	margin: 8px 0;
}

.btn-signup {
	width: 278px;
	background: #55acee;
}

.signup-click {
	padding: 10px 0;
	text-align: center;
}

/*
------------------------------
Also Like
------------------------------
*/

.also-like {
	width: 310px;
	background: white;
	padding: 15px;
	position: absolute;
	top: 640px;
}

.other-users {
	padding-top: 10px;
	clear: both;
}

.avatar,
.name {
	float: left;
}

.avatar {
  height: 40px;
  width: 40px;
}

.name {
	padding-left: 10px;
}

/*
------------------------------
Trends
------------------------------
*/

.trends {
	width: 310px;
	background: white;
	padding: 15px 15px 10px 15px;
	position: absolute;
	top: 965px;
}

.trends-list {
	padding-top: 10px;
}

.promoted {
	margin-bottom: 5px;
}
.promoted-icon {
	width: 15px;
}

/*
==============================================================
TWEETS
==============================================================
*/

.tweets-sect, 
.tweet-story1, 
.tweet-story2,
.tweet-story3,
.tweet-story4,
.tweet-story5,
.tweet-story6 {
	width: 630px;
	background: white;
	position: absolute;
}

.tweets-sect {
	padding: 15px 15px 10px 15px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	top: -380px;
	right: 0px;
}

.tweet-nav {
	float: left;
	margin-right: 40px;
}

.tweet-story1,
.tweet-story2,
.tweet-story3,
.tweet-story4,
.tweet-story5,
.tweet-story6 {
	border-radius: 0;
	padding-top: 10px;
	padding-bottom: 5px;
	right: 0;
}

.tweet-story1 {
	top: -335px;
}

.tweet-story2 {
	top: 20px;
}

.tweet-story3 {
	top: 458px;
}
	
.tweet-story4 {
	top: 890px;
}

.tweet-story5 {
	top: 1300px;
}

.tweet-story6 {
	top: 1450px;
}

.tweet-left {
	width: 75px;
	float: left;
	margin-right: 10px;
	position: relative;
}

.top-icon {
	float: right;
}

.tweet-content {
	width: 560px;
	float: right;
	padding-left: 20px;

}

.group-photo {
	width: 120px;
	height: 90px;
	float: right;
	margin-right: 10px;
	margin-left: 5px;
}

.tweet-footer {
	margin-top: 10px;
}

.icon-space {
	margin-right: 40px;
	float: left;	
}

.keep-calm-photo {
	width: 470px;
	height: 270px;
	margin-top: 15px;
	background: url("../twitter.png/keep-calm.jpg");
	background-size: cover;
	background-position: 0 -35px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.view-photo {
	text-align: right;
	margin-top: 5px;
	margin-right: 10px;
	font-size: 12px;
	float: right;
}

.big-photo-1 {
	width: 530px;
	height: 270px;
	margin-top: 15px; 
	background: url("../twitter.png/big-photo1.jpg");
	background-size: cover;
	background-position: 0 -40px;
}

.big-photo-2 {
	width: 530px;
	height: 270px;
	margin-top: 15px; 
	background: url("../twitter.png/big-photo2.jpg");
	background-size: cover;
	background-position: 0 -125px;
}

/*
==============================================================
FOOTER
==============================================================
*/

footer {
	margin-left: 15px;
	position: absolute;
	top: 1300px;
}

.line-position {
	display: inline-block;
	padding-right: 10px;
}





