@import 'reset';
@import 'colors';
@import 'type';
@import 'medium';
@import 'large';

html { 
	box-sizing: border-box; 
} 

*, *:before, *:after { 
	box-sizing: inherit; 
}

$border: 4px solid black;

.page-wrapper {
	
	background: -webkit-linear-gradient(
	    to bottom, #000, #000 3%, #fff 3%,#fff
    );

    background: -moz-linear-gradient(
	    to bottom, #000, #000 3%, #fff 3%,#fff
    );

    background: -ms-linear-gradient(
	    to bottom, #000, #000 3%, #fff 3%,#fff
    );

    background: -o-linear-gradient(
	    to bottom, #000, #000 3%, #fff 3%,#fff
    );

	background: linear-gradient(
	    to bottom, #000, #000 3%, #fff 3%,#fff
    );
  	
  	background-size: 100% 200px;
}

// SECTION INTRO --------------------------------------------

.intro {
	overflow: hidden;

	div {
		float: left;
	}
}

// HEADER ------------------------

header {
	overflow: hidden;

	&:before {
		width: 31%;
		height: 100px;
		background: $blue;
		content: "";
		display: block;
		position: relative;
		border: $border;
	}
}

h1 {
	text-align: right;
	float: right;
	padding-bottom: 0.19em;
	width: 70%;
	border-left: $border;
}

h2 {
	margin-left: 15px;
	border-right: $border;
	padding-right: 1em;
	float: left;
	width:40%;
	background: white;
	border-top: $border;
	border-left: $border;

	&:after {
		width: 100%;
		height: 55px;
		background: $yellow;
		content: "";
		display: block;
		position: relative;
		border: $border;
		margin-top: 0.5em;
	}
}

// SUMMARY ------------------------

.summary {
	border-top: $border;
	overflow: hidden;

	p {
		width: 50%;
	}

	p:first-of-type {
		float: right;
		border-left: $border;
		padding: 0.7em;
		text-align: right;

		&:before {
			width: 20%;
			float: right;
			height: 70px;
			background: $red;
			content: "";
			display: block;
			position: relative;
			top: -1em;
			right: -1em;
			border: $border;
		}
	}

	p:last-of-type {
		float: left;
		padding: 0.5em;
		border-bottom: $border;
	}
}

// PREAMBLE ------------------------

.preamble {
	border-top: $border;
	padding: 0.8em;
	padding-top: 0;
	
	h3, p {
		width: 80%;
		margin: 0 auto;
		padding: 0.5em;
		border-left: $border;
		border-right: $border;
	}

	h3 {
		border-bottom: $border;
		background: white;
	}

	p {
		float: right;
		border-left: $border;
		padding: 0.7em;

		&:first-of-type {
			border-top: $border;
		}

		&:last-of-type {
			border-bottom: $border;
			padding: 0;
			padding-left: 0.7em;
			padding-right: 0.7em;

			&:after {
				width: 100%;
				height: 100px;
				background: $blue;
				content: "";
				display: block;
				position: relative;
				border: $border;
				margin-top: 0.5em;
				right: 1em;
			}	
		}
	}
} //end of preamble

// MAIN SUPPORTING --------------------------------------------

.main.supporting {
	border-top: $border;
	overflow: hidden;

	&:before {
		width: 40%;
		height: 150px;
		background: $yellow;
		content: "";
		display: block;
		position: relative;
		border: $border;
	}

	&:after {
		width: 100%;
		height: 150px;
		background: $red;
		content: "";
		display: block;
		position: relative;
		border: $border;
	}
}

// EXPLANATION ------------------------


.explanation {
	overflow: hidden;

	h3, p {
		text-align: right;
	}

	h3 {
		width: 30%;
		border-right: $border;
		border-bottom: $border;
		float: left;
		background: white;
		padding: 0.7em;
	}

	p {
		width: 60.7%;
		float: right;
		padding: 0.7em;
		border-left: $border;
		border-bottom: $border;
		border-top: $border;

		&:last-of-type:before {
			width: 100%;
			height: 150px;
			background: $red;
			content: "";
			display: block;
			position: relative;
			border: $border;
			padding-top: 0;
			right: -1em;
			top: -1em;
		}
	}
}

// PARTICIPATION ------------------------

.participation {
	overflow: hidden;
	padding: 0.7em;

	&:after {
		width: 44%;
		height: 250px;
		background: $blue;
		content: "";
		display: block;
		position: relative;
		border: $border;
		clear: left;
		left: -1em;
		top: -2em;
	}

	h3 {
		width: 45%;
		float: right;
		padding: 0.7em;
		background: white;
		border: $border;
	}

	p {
		float: left;
		width: 40%;
		padding: 0.7em;
		border: $border;

		&:first-of-type:before {
			width: 150%;
			height: 50px;
			background: $yellow;
			content: "";
			display: block;
			position: relative;
			border: $border;
			padding-top: 0;
			top: -1em;
		}

		&:first-of-type {
			padding-top: 0;
		}
	}
}

// BENEFITS ------------------------

.benefits {
	overflow: hidden;
	border-top: $border;
	border-bottom: $border;

	&:before {
		width: 35%;
		height: 175px;
		background: $yellow;
		content: "";
		display: block;
		position: relative;
		border: $border;
		top: -2em;
	}

	h3, p {
		padding: 0.7em;
		background: white;
		text-align: right;
	}

	h3 {
		border-right: $border;
		border-top: $border;
	}

	p {
		width: 70%;
		float: right;
		border-left: $border;
		border-top: $border;
	}

	p:before {
		width: 100%;
		height: 30px;
		background: $red;
		content: "";
		display: block;
		position: relative;
		border: $border;
		float: left;
		top: -1em;
		right: -1em;
	}

}

// REQUIREMENTS ------------------------

.requirements {
	overflow: hidden;

	&:before {
		width: 20%;
		height: 50px;
		background: $red;
		content: "";
		display: block;
		position: relative;
		border: $border;
	}

	h3, p {
		padding: 0.7em;
		background: white;
	}

	h3 {
		border: $border;

		&:after {
			width: 45%;
			height: 100px;
			background: $blue;
			content: "";
			display: block;
			position: relative;
			border: $border;
			float: right;
			top: -0.85em;
		}
	}

	p:nth-of-type(2) {
		width: 70%;
		border: $border;
		float: left;
		padding: 1em;

		&:before {
			width: 25%;
			height: 350px;
			background: $yellow;
			content: "";
			display: block;
			position: relative;
			bottom: -2em;
			right: -3em;
			border: $border;
			float: right;
		}
	}

	p:nth-of-type(3) {
		width: 45%;
		float: left;
		text-align: right;
		border: $border;

		&:after {
			width: 10%;
			height: 80px;
			background: $blue;
			content: "";
			display: block;
			position: absolute;
			border: $border;
		}
	}

	p:nth-of-type(4) {
		width: 45%;
		float: right;
		border: $border;
	}

	p:nth-of-type(5) {
		width: 80%;
		float: right;
		clear: both;
	}
}

// FOOTER ------------------------

footer {
	overflow: hidden;
	padding: 1em;
	border-top: $border;
	background: $blue;

	a {
		background: white;
		border: $border;
		padding: 1em;
		float: left;
		margin: 0.5em;
	}	
}

// ASIDE --------------------------------------------



// DESIGN SELECTION ----------------

.design-selection {
	overflow: hidden;

	h3 {
		background: white;
		padding: 0.5em;

		&:before {
			width: 30%;
			height: 40px;
			background: $yellow;
			border: $border;
			content: "";
			display: block;
			position: relative;
			left: -0.5em;
			top: -0.5em;
		}
	}

	nav {
		background: white;
		border: $border;
		text-align: right;
		padding: 1em;
	}
}

// ARCHIVES ------------------------

.design-archives {
	text-align: right;
	padding: 0.7em;
	overflow: hidden;

	&:after {
		width: 50%;
		height: 80px;
		background: $red;
		border: $border;
		content: "";
		display: block;
		position: relative;
		float: right;
	}

	h3, a {
		border: $border;
		padding: 1em;
	}

	nav, h3 {
		background: white;
	}
}

// RESOURCES -----------------------

.zen-resources {
	overflow: hidden;

	h3, ul {
		background: white;
	}

	h3 {
		padding: 1em;
		text-align: right;
		position: relative;
		left: -2em;
		border: $border;
	}

	ul {
		padding: 0.7em;
		border: $border;

		&:before {
			width: 50%;
			height: 150px;
			background: $blue;
			border: $border;
			content: "";
			display: block;
			position: relative;
			bottom: -1em;
			left: -1em;
			float: left;
		}
	}
}
