@import 'reset';
@import 'colors';
@import 'type';
@import 'medium';
@import 'large';

html { 
	box-sizing: border-box; 
} 

*, *:before, *:after { 
	box-sizing: inherit; 
}

$border: 4px solid black;

.page-wrapper {
	background: linear-gradient(
    to bottom,
    #000,
    #000 3%,
    #fff 3%,
    #fff
  );
  	background-size: 100% 200px;
}

// SECTION INTRO --------------------------------------------

.intro {
	overflow: hidden;

	div {
		float: left;
	}
}

// HEADER ------------------------

header {
	overflow: hidden;

	&:before {
		width: 31%;
		height: 100px;
		background: $blue;
		content: "";
		display: block;
		position: relative;
		border: $border;
	}
}

h1 {
	text-align: right;
	float: right;
	padding-bottom: 0.19em;
	width: 70%;
	border-left: $border;
}

h2 {
	margin-left: 15px;
	border-right: $border;
	padding-right: 1em;
	float: left;
	width:40%;

	&:after {
		width: 100%;
		height: 55px;
		background: $yellow;
		content: "";
		display: block;
		position: relative;
		border: $border;
		margin-top: 0.5em;
	}
}

// SUMMARY ------------------------

.summary {
	border-top: $border;
	overflow: hidden;

	p {
		padding: 0.5em;
		width: 50%;
	}

	p:first-of-type {
		padding-right: 0.5em;
		float: right;
		border-left: $border;

		&:before {
			width: 50%;
			float: right;
			height: 30px;
			background: $red;
			content: "";
			display: block;
			position: relative;
			border: $border;
			margin-top: 0.5em;
		}
	}

	p:last-of-type {
		float: left;
	}

}

// MAIN SUPPORTING --------------------------------------------
