html {
	box-sizing: border-box;
}

*, 
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	overflow: hidden;
}

// HEADER -------------------------------------------------------------

header, nav, ul {
	overflow: hidden;
}

header {
	padding-bottom: 1em;
	@include borderBottom($color2);

	h1, nav {
		display: inline-block;
	}

	h1 {
		margin-left: 1em;
		margin-top: 0.3em;
	}

	nav {
		float: right;
		margin-right: 1.5em;
	}

}

li {
	display: inline-block;
	margin-left: 2em;

	&:nth-child(1) {
		@include borderRight($color4);
	}

	&:nth-child(2) {
		@include borderRight($color5);
	}

	&:nth-child(3) {
		@include borderRight($color2);
	}
}

// PAGES -------------------------------------------------------------

.content {
	margin: 2em;
	overflow: hidden;
}

.page {
	padding-top: 1.8em;
	margin: 0 auto;
	overflow: hidden;
	max-width: 350px;
	margin-bottom: 1em;

	button {
		float: right;
		margin-top: 2em;
		padding: 1em;
		font-family: 'alverata-pe', sans-serif;
		background: $color2;
		@include borderFull($color2);
		color: white;
		@include font(1);

		&:hover {
			background: white;
			color: $color2;
		}
	}
 }

#portfolio {
	@include borderLeft($color4);
}

#blog {
	@include borderLeft($color5);
}

#about {
	@include borderLeft($color2);
}

#radlibs {
	background: url("../images/radlibs_large.png");
	background-size: cover;
	background-position: center;

	&:hover {
		background: 
			linear-gradient(
				rgba(206, 193, 62, 0.5),
				rgba(206, 193, 62, 0.5)
			),
			url("../images/radlibs_large.png");
		background-size: cover;
		background-position: center;

		.project-title {
			opacity: 1;
		}
	}
}

#babyAs {
	background: url("../images/babyA_large.png");
	background-size: cover;
	background-position: center;

	&:hover {
		background: 
			linear-gradient(
				rgba(206, 193, 62, 0.5),
				rgba(206, 193, 62, 0.5)
			),
			url("../images/babyA_large.png");
		background-size: cover;
		background-position: center;

		.project-title {
			opacity: 1;
		}
	}
}

#csszen {
	background: url("../images/css_zen_garden_large.png");
	background-size: cover;
	background-position: center;

	&:hover {
		background: 
			linear-gradient(
				rgba(206, 193, 62, 0.5),
				rgba(206, 193, 62, 0.5)
			),
			url("../images/css_zen_garden_large.png");
		background-size: cover;
		background-position: center;

		.project-title {
			opacity: 1;
		}
	}
}

#goodreads {
	background: url("../images/goodreads_large.png");
	background-size: cover;
	background-position: center;

	&:hover {
		background: 
			linear-gradient(
				rgba(206, 193, 62, 0.5),
				rgba(206, 193, 62, 0.5)
			),
			url("../images/goodreads_large.png");
		background-size: cover;
		background-position: center;

		.project-title {
			opacity: 1;
		}
	}
}

.portfolio-image {
	height: 250px;
	position: relative;
	margin: 0 auto;
	margin-top: 2em;
	overflow: hidden;

	h3 {
		color: white;
		font-weight: bold;
		@include font(4);
		text-align: center;
		text-shadow: 0px 2px 3px $color3;
		line-height: 1.3;
	}
}

.project-title {
	color: white;
	width: 90%;
	position: relative;
	margin: 0 auto;
	opacity: 0;
	transition: opacity 700ms ease;
}

.blog-content {
	position: relative;
	margin: 0 auto;
	margin-top: 1em;

	&:hover {
		@include borderFull($color5);
		@include boxShadow();
	}

	h3 {
		color: $color5;
	}
}

// FOOTER -------------------------------------------------------------

footer {
	background: $color2;
	height: 100px;
}