//STYLING MIXINS
@mixin greenTop {
	border-top: solid 10px $green;
}

@mixin greenBottom {
	border-bottom: solid 10px $green;
}

//HEADER

header {
	background: $purple;
	color: white;
	font-family: $babyA-font;
	@include font(2.5);
	padding: $sm-space;
	text-align: center;
	@include greenTop;
	@include greenBottom;
}

//NAV

.main-nav {
	background: $blue;
	padding: $md-space;
	margin: $sm-space;
	border-radius: 5px;
	color: white;
	@include font(1.675);

	li {
		padding-bottom: $md-space;
		padding-left: $md-space;
	}

	h3 {
		color: white;
		@include font(1.125);
		font-weight: 300;
		margin-top: 0;
	}
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 18px solid white;
	float: right;
	margin-top: 15px;
}

//CONTENT
.content {
	margin-right: 0;
	padding: $md-space;

	ul {
		list-style: disc;
		padding-left: $lg-space;
		padding-bottom: $sm-space;
	}
}

.color-boxes {
	overflow: hidden;
}

.color-box {
	width: 100px;
	height: 100px;
	margin: $sm-space;
	float: left;
}

.btn {
	background: $pink;
	border: 2px solid $pink;
	border-radius: 5px;
	padding: $sm-space;
	margin: $sm-space;
	display: inline-block;

	a {
		color: white;
	}

	&:hover {
		background: white;

		a {
			color: $pink;
		}
	}
}

//SMALL MEDIA QUERY

@media screen and (min-width: 350px) {
	.main-nav,
	.content {
		max-width: 350px;
		margin: 0;
		margin: 0.5em auto;
	}

} //end of media query