//STYLING MIXINS
@mixin greenTop {
	border-top: solid 10px $green;
}

@mixin greenBottom {
	border-bottom: solid 10px $green;
}

//HEADER

header {
	background: $purple;
	color: white;
	font-family: $babyA-font;
	@include font(2.5);
	padding: $sm-space;
	text-align: center;
	@include greenTop;
	@include greenBottom;
}

//NAV

.main-nav {
	background: $blue;
	padding: $md-space;
	margin: $sm-space;
	border-radius: 5px;
	color: white;
	@include font(1.675);

	li {
		padding-bottom: $md-space;
		padding-left: $md-space;
	}

	h3 {
		color: white;
		@include font(1.125);
		font-weight: 300;
		margin-top: 0;
	}
}

.arrow {
	width: 0; 
	height: 0; 
	border-left: 18px solid transparent;
	border-right: 18px solid transparent;
	border-top: 18px solid white;
	float: right;
	margin-top: 15px;
}

//CONTENT
.content {
	margin-right: 0;
	padding: $md-space;

	ul {
		list-style: disc;
		padding-left: $lg-space;
		padding-bottom: $sm-space;
	}
}

.btn {
	background: $pink;
	border: 2px solid $pink;
	border-radius: 5px;
	padding: $sm-space;
	margin: $sm-space;
	display: inline-block;

	a {
		color: white;
	}

	&:hover {
		background: white;

		a {
			color: $pink;
		}
	}
}

//TYPOGRAPHY

.enzo {
	font-family: $babyA-font;

	h1, h2, h3, h4, h5, h6, p, a {
		margin-bottom: $sm-space;
		padding-left: $sm-space;
		padding-right: $sm-space;
		padding-top: 0;
		padding-bottom: 0;
	}
	
	h1 {
		@include font(4.25);
		background: $purple;
		line-height: 1.4;
		text-shadow: 2px 2px 2px $blue;
	}

	h2 {
		@include font(2);
		font-weight: 300;
		background: $blue;
		color: white;
	}

	h3 {
		@include font(1.375);
		font-weight: 700;
		color: white;
		background: $pink;
	}

	h4 {
		@include font(1.25);
		font-weight: 700;
		color: white;
		text-shadow: 2px 2px 2px $blue;
		background: $purple;
	}

	p {
		font-weight: 600;
		line-height: 1.5;
	}

	a {
		color: $purple;
  		border-bottom: 2px solid $green;
  		padding-left: 0;
  		padding-right: 0;
  		margin-right: $sm-space;
  		display: inline-block;
	}

	.price {
		font-weight: 700;
		padding-top: $sm-space;
	}
}

//COLORS

.color-boxes {
	overflow: hidden;
}

.color-box {
	width: 150px;
	height: 150px;
	margin: $sm-space;
	float: left;
	color: white;
	padding: $md-space;
	text-align: center;
}

.white {
	color: $black;
}

//SMALL MEDIA QUERY

@media screen and (min-width: 350px) {
	.main-nav,
	.content {
		max-width: 350px;
		margin: 0;
		margin: 0.5em auto;
	}

} //end of media query