@media screen and (min-width: 600px) {
//12 COLUMN GRID
	$col-width: 6.5%;
	$gut-width: 2%;

	@mixin col($col-num) {
		width: ($col-width * $col-num ) + ($gut-width * (($col-num) - 1));
		margin-left: 0;
		margin-right: $gut-width;
	}

	.col4, .col8 {
		float: left;
	}

	.col4 {
		@include col(4);
	}

	.col8 {
		@include col(8);
	}

//NAVIGATION CHANGE
.links {
	display: none;
}

.main-nav ul {
	display: block;
}

} //end of media query