/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.purple {
  background: #87228D; }

.pink {
  background: #EE3A79; }

.blue {
  background: #5EBFD0; }

.green {
  background: #BEDD1C; }

.black {
  background: #191919; }

.white {
  background: white;
  border: 1px solid #BAB8B8; }

html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

body {
  font-family: "Lora", sans-serif;
  font-size: 16px;
  font-size: 1em;
  color: #222222;
  line-height: 1.4;
  font-weight: 400; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.6;
  color: #87228D; }

h1 {
  color: white;
  margin-top: 0; }

h2 {
  font-size: 32px;
  font-size: 2em; }

h3 {
  font-size: 24px;
  font-size: 1.5em; }

p {
  padding-bottom: 1em; }

a {
  text-decoration: none;
  padding-bottom: 0.5em;
  color: #87228D; }
  a:visited {
    color: #5EBFD0; }

header {
  background: #87228D;
  color: white;
  font-family: ff-enzo-web, sans-serif;
  font-size: 40px;
  font-size: 2.5em;
  padding: 0.5em;
  text-align: center;
  border-top: solid 10px #BEDD1C;
  border-bottom: solid 10px #BEDD1C; }

.main-nav {
  background: #5EBFD0;
  padding: 1em;
  margin: 0.5em;
  border-radius: 5px;
  color: white;
  font-size: 26.8px;
  font-size: 1.675em; }
  .main-nav li {
    padding-bottom: 1em;
    padding-left: 1em; }
  .main-nav h3 {
    color: white;
    font-size: 18px;
    font-size: 1.125em;
    font-weight: 300;
    margin-top: 0; }

.arrow {
  width: 0;
  height: 0;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid white;
  float: right;
  margin-top: 15px; }

.content {
  margin-right: 0;
  padding: 1em; }
  .content ul {
    list-style: disc;
    padding-left: 2em;
    padding-bottom: 0.5em; }

.btn {
  background: #EE3A79;
  border: 2px solid #EE3A79;
  border-radius: 5px;
  padding: 0.5em;
  margin: 0.5em;
  display: inline-block; }
  .btn a {
    color: white; }
  .btn:hover {
    background: white; }
    .btn:hover a {
      color: #EE3A79; }

.enzo {
  font-family: ff-enzo-web, sans-serif; }
  .enzo h1, .enzo h2, .enzo h3, .enzo h4, .enzo h5, .enzo h6, .enzo p, .enzo a {
    margin-bottom: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0;
    padding-bottom: 0; }
  .enzo h1 {
    font-size: 68px;
    font-size: 4.25em;
    background: #87228D;
    line-height: 1.4;
    text-shadow: 2px 2px 2px #5EBFD0; }
  .enzo h2 {
    font-size: 32px;
    font-size: 2em;
    font-weight: 300;
    background: #5EBFD0;
    color: white; }
  .enzo h3 {
    font-size: 22px;
    font-size: 1.375em;
    font-weight: 700;
    color: white;
    background: #EE3A79; }
  .enzo h4 {
    font-size: 20px;
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    text-shadow: 2px 2px 2px #5EBFD0;
    background: #87228D; }
  .enzo p {
    font-weight: 600;
    line-height: 1.5; }
  .enzo a {
    color: #87228D;
    border-bottom: 2px solid #BEDD1C;
    padding-left: 0;
    padding-right: 0;
    margin-right: 0.5em;
    display: inline-block; }
  .enzo .price {
    font-weight: 700;
    padding-top: 0.5em; }

.color-boxes {
  overflow: hidden; }

.color-box {
  width: 150px;
  height: 150px;
  margin: 0.5em;
  float: left;
  color: white;
  padding: 1em;
  text-align: center; }

.white {
  color: #191919; }

@media screen and (min-width: 350px) {
  .main-nav,
  .content {
    max-width: 350px;
    margin: 0;
    margin: 0.5em auto; } }
@media screen and (min-width: 600px) {
  .col4, .col8 {
    float: left; }

  .col4 {
    width: 32%;
    margin-left: 0;
    margin-right: 2%; }

  .col8 {
    width: 66%;
    margin-left: 0;
    margin-right: 2%;
    margin-left: 0;
    margin-right: 0;
    max-width: 1000px; }

  .links {
    display: none; }

  .main-nav {
    background: white;
    max-width: 250px; }
    .main-nav li {
      padding-left: 0; }

  h2 {
    padding-top: 1em; }

  .wrapper {
    max-width: 1250px;
    margin: 0 auto;
    overflow: hidden; }

  .btn {
    border: none;
    background: white;
    float: right; }
    .btn a {
      color: #EE3A79; } }

/*# sourceMappingURL=style.css.map */
