// WIREFRAME COLOR PALETTE
$black: #000000;
$dkgrey: #333436;
$mdgrey: #67686C;
$ltgrey: #9A9CA1;


// V1 COLOR PALETTE
// $dkblue: #031436;
// $mdblue: #1FB5F3;
// $ltblue: #A5E1FA;
// $yellow: #EDCB3A;
// $mdgrey: #CDD0D7;
// $ltgrey: #F5F6F7;

//V2 COLOR PALETTE
