// WIREFRAME COLOR PALETTE
// $color1: #000000;
// $color2: #333436;
// $color3: #67686C;
// $color4: #9A9CA1;


// V1 COLOR PALETTE
// $color1: #031436;
// $color2: #1FB5F3;
// $color3: #A5E1FA;
// $color4: #EDCB3A;
// $color5: #CDD0D7;
// $color6: #F5F6F7;

// //V2 COLOR PALETTE
$color1: #002534;
$color2: #1FB5F3;
$color3: #99A8AE;
$color4: #CEC13E;
$color5: #6B1651;
$color6: #CCE9F6;
$color7: #D6DCDF; 

