@media screen and (min-width: 720px) {

	.container {
		margin: 2.5em;
	}

	.page {
		overflow: hidden;
		max-width: 1200px;
	
		&:last-child {
			display: none;
		}
	}

	.portfolio-image, .blog-content {
		float: left;
		width: 48%;

		&:nth-child(odd) {
			margin-left: 4%;
		}
	}

} //end of media query
