html {
	box-sizing: border-box;
}

*, 
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	margin: 1.5em;
	overflow: hidden;
}

// HEADER -------------------------------------------------------------

header, nav, ul {
	overflow: hidden;
}

header {
	h1, nav {
		display: inline-block;
	}

	nav {
		float: right;
	}

}

li {
	display: inline-block;
	margin-left: 2em;
}

// PAGES -------------------------------------------------------------

.content {
	margin: 0.3em auto;
	overflow: hidden;
}

.page {
	padding-top: 1.8em;
	margin: 0 auto;
	overflow: hidden;
	max-width: 350px;

	button {
		float: right;
		margin-top: 1em;
		padding: 1em;
	}
}

.portfolio-image {
	border: 1px solid $color2;
	background-color: $color3;
	height: 200px;
	position: relative;
	margin: 0 auto;
	margin-top: 1em;
}

.blog-content {
	border: 1px solid $color4;
	background-color: $color4;
	height: 200px;
	position: relative;
	margin: 0 auto;
	margin-top: 1em
}

// FOOTER -------------------------------------------------------------

footer {
	background: $color2;
	height: 100px;
}