html {
	box-sizing: border-box;
}

*, 
*:before,
*:after {
	box-sizing: inherit;
}

.container {
	margin: 1.5em;
	overflow: hidden;
}

// HEADER -------------------------------------------------------------

header {
	border-bottom: 2px solid $color2;
}

// PAGES -------------------------------------------------------------

.content {
	margin: 0.3em auto;
	overflow: hidden;
	border-top: 2px solid $color4;
}

.page {
	padding-top: 1.8em;
	margin: 0 auto;
	overflow: hidden;
	max-width: 350px;
}

.portfolio-image {
	border: 1px solid $color2;
	background-color: $color3;
	height: 200px;
	position: relative;
	margin: 0 auto;
	margin-top: 1em;
}

.blog-content {
	border: 1px solid $color4;
	background-color: $color5;
	height: 200px;
	position: relative;
	margin: 0 auto;
	margin-top: 1em
}

// FOOTER -------------------------------------------------------------

footer {
	background: $color2;
	height: 100px;
}