@media screen and (min-width: 950px) {

	h1 {
		font-size: 110px;
		font-size: 6.875rem;
	}

	article {

		h3 {
			font-size: 60px;
			font-size: 3.125rem;
		}
	} /*end of article*/

	.main {
		max-width: 980px;
		margin: 0 auto;
	}

	.pop-stories {
		max-width: 980px;
		margin: 0 auto;
	}

	.story1, .story2, .story3, .story4 {
		height: 350px;
	}


} /*end of media query*/
