@media screen and (min-width: 950px) {

	h1 {
		font-size: 110px;
		font-size: 6.875rem;
	}

	article {

		h3 {
			font-size: 60px;
			font-size: 3.125rem;
		}
	} /*end of article*/

	.main {
		max-width: 980px;
		margin: 0 auto;
	}

	h2 {
		font-size: 60px;
		font-size: 3.75rem;
	}

	$one-quarter: 25%;

	.story1, .story2, .story3, .story4 {
		width: $one-quarter;
	}

	.footer-left {
		width: 50%;
	}

	.footer-right {
	 	width: 50%;
	 	margin-top: 30px;
	 	float: right; 
	}


} /*end of media query*/
