@media screen and (min-width: 600px) {

	$half: 50%;
	$two-thirds: 66.667%;
	$one-third: 33.333%;

	h1 {
		font-size: 72px;
		font-size: 4.5rem;
	}

	.header-top {

		.top-left {
			width: $half;
			margin: 0;
			float: left;
		}

		nav {
			width: $half;
			margin: 0;
			padding-top: 27px;
			float: right; 
		}

		.btn {
			overflow: none;
			float: left;
		}

	} /*end of .header-top*/

	.header-main {
		padding: 100px 10px 60px 10px;
	} /*end of .header-main*/

	article {
		width: $two-thirds;
		padding: 50px;

		h3 {
			font-size: 30.4px;
			font-size: 1.9rem;
		}
	} /*end of article*/

	aside {
		width: $one-third;
		float: right;

		.aside-author img {
		
		}

		p {

		}

		ul {

			li a {

			}

		}

		img {
			
		}

		.about-ad {
			margin-left: 0;
			margin: 0 auto;
			display: inline-block;
			text-align: right;
		}

		.sidebar {
			max-width: 278px;
		}

		h5 {
			padding: 0;
			padding-top: 20px;
		}

		p {
			padding: 0;
			padding-right: 5%;
		}
	} /*end of aside*/

	.secondary-title {
		overflow: hidden;
	}

	h2 {
		font-size: 40px;
		font-size: 2.5rem;
	}

	.story1, .story2, .story3, .story4 {
		width: $half;
		height: 240px;
		float: left;
		background-size: 100%;
		background-repeat: no-repeat;
	}

} /*end of media query*/