/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  color: #5e686f;
  line-height: 1.65; }

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  line-height: 1.2; }

h2,
h3,
h4 {
  color: #083452; }

h1 {
  color: white;
  font-size: 48px;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1; }

h2 {
  font-size: 60px;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px; }

h3 {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1.2; }

h4 {
  font-size: 25.6px;
  font-size: 1.6rem;
  position: absolute;
  left: 15px;
  bottom: 10px; }

h5 {
  color: #106db3;
  font-weight: bold;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.7;
  padding: 30px 50px 15px 50px; }

a {
  text-decoration: none; }

.underline {
  border-bottom: 1px solid #a3b3bf; }

.link-color-blue {
  color: #106db3; }

.link-color-grey {
  color: #a3b3bf; }

.buttons {
  color: white;
  font-size: 14px;
  font-size: 0.875em;
  margin-top: 15px; }

.btn {
  margin-left: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  float: left; }
  .btn img {
    max-width: 100%; }

.ltgrey-btn-text {
  background: #a3b3bf;
  padding: 5px 10px 2px 10px;
  float: left; }

.mdblue-btn-text {
  background: #106db3;
  padding: 5px 10px 2px 10px;
  float: left; }

.ltgrey-btn-png {
  height: 30px;
  background: #5e686f;
  float: left; }

.mdblue-btn-png {
  height: 30px;
  background: #083452;
  float: left; }

/*
=================================================================
							OVERALL LAYOUT
=================================================================
*/
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  width: 100%;
  margin: 0 auto;
  overflow: hidden; }

img {
  max-width: 100%; }

/*
=================================================================
							HEADER
=================================================================
*/
header {
  background: url("../images/surf.jpg");
  background-size: cover; }

/*
---------------------------------
			Header Top
---------------------------------
*/
.header-top {
  width: 100%;
  overflow: hidden; }
  .header-top .top-left {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    text-align: center; }
    .header-top .top-left img {
      display: inline-block;
      vertical-align: middle; }
    .header-top .top-left p {
      color: #083452;
      font-size: 18px;
      font-size: 1.125em;
      text-transform: uppercase;
      padding-left: 15px;
      display: inline-block;
      vertical-align: middle; }
  .header-top nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px; }
    .header-top nav ul li {
      color: #083452;
      font-size: 18px;
      font-size: 1.125em;
      text-transform: uppercase;
      padding-left: 20px;
      display: inline-block;
      vertical-align: middle; }
    .header-top nav img {
      padding-left: 15px;
      display: inline-block;
      vertical-align: middle; }

/*
---------------------------------
			Header Main
---------------------------------
*/
.header-main {
  padding: 30px 10px 30px 10px;
  text-align: center; }

.header-main p {
  color: white;
  font-size: 16px;
  font-size: 1rem;
  text-align: center; }

/*
=================================================================
							MAIN
=================================================================
*/
.main {
  width: 100%; }

/*
---------------------------------
			Article
---------------------------------
*/
article {
  width: 100%;
  float: left;
  padding: 30px 50px; }
  article img {
    max-width: 5%; }

.date {
  color: #a3b3bf;
  font-size: 14px;
  font-style: lighter;
  display: inline-block;
  padding-left: 90px;
  padding-top: 20px; }

.story {
  margin-top: 20px;
  font-weight: lighter; }

.radical {
  color: #106db3;
  font-size: 24px;
  font-size: 1.5rem;
  font-style: italic;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 22px;
  margin-left: 1px;
  padding-left: 20px;
  padding-top: 5px;
  border-left: 2px solid #a3b3bf; }

/*
---------------------------------
			Aside
---------------------------------
*/
aside {
  width: 100%;
  margin-top: 90px;
  overflow: hidden; }
  aside .aside-author img {
    margin: 0 auto;
    display: block;
    overflow: hidden; }
  aside p {
    color: #a3b3bf;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: lighter;
    padding: 0 50px 30px 50px; }
  aside ul {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 40px 0; }
    aside ul li {
      display: inline-block;
      padding: 0 10px; }
      aside ul li a {
        color: #a3b3bf;
        font-size: 14px;
        font-size: 0.875rem;
        font-style: lighter; }
  aside .ad {
    max-width: 278px;
    display: block;
    margin: 0 auto; }
    aside .ad img {
      margin: 0 auto;
      display: block; }
    aside .ad p {
      text-align: right;
      padding: 0; }
  aside .sidebar {
    display: block;
    margin: 0 auto; }

/*
=================================================================
							SECONDARY
=================================================================
*/
.secondary {
  width: 100%;
  overflow: hidden; }

.secondary-title {
  width: 100%;
  border-top: 1px solid #a3b3bf; }

.pop-stories {
  width: 100%;
  overflow: hidden; }

.story1, .story2, .story3, .story4 {
  width: 100%;
  height: 150px;
  float: left;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

.story1 {
  background-image: url("../images/surfer.jpg"); }
  .story1 h4 {
    left: 5px; }

.story2 {
  background-image: url("../images/beer.jpg"); }
  .story2 h4 {
    color: white; }

.story3 {
  background-image: url("../images/zack.jpg"); }

.story4 {
  background-image: url("../images/booze.jpg"); }

/*
=================================================================
							FOOTER
=================================================================
*/
footer {
  width: 100%;
  overflow: hidden;
  background: #083452;
  text-align: center;
  padding-bottom: 20px; }

.footer-left {
  width: 100%;
  padding-top: 25px;
  float: left; }
  .footer-left img, .footer-left p {
    display: inline-block;
    vertical-align: middle; }
  .footer-left p {
    padding-left: 5px;
    padding-top: 5px;
    color: #a3b3bf;
    font-size: 14px;
    font-size: 0.875rem; }

.footer-right {
  width: 100%;
  margin-top: 20px;
  float: left; }
  .footer-right li {
    display: inline-block;
    padding-left: 3px;
    color: #a3b3bf;
    font-size: 14px; }

@media screen and (min-width: 600px) {
  h1 {
    font-size: 72px;
    font-size: 4.5rem; }

  .header-top .top-left {
    width: 50%;
    margin: 0;
    float: left; }
  .header-top nav {
    width: 50%;
    margin: 0;
    padding-top: 27px;
    float: right; }
  .header-top .btn {
    overflow: none;
    float: left; }

  /*end of .header-top*/
  .header-main {
    padding: 100px 10px 60px 10px; }

  /*end of .header-main*/
  article {
    width: 66.667%;
    padding: 50px; }
    article h3 {
      font-size: 30.4px;
      font-size: 1.9rem; }

  /*end of article*/
  aside {
    width: 33.333%;
    float: right; }
    aside .about-ad {
      margin-left: 0;
      margin: 0 auto;
      display: inline-block;
      text-align: right; }
    aside .sidebar {
      max-width: 278px; }
    aside h5 {
      padding: 0;
      padding-top: 20px; }
    aside p {
      padding: 0;
      padding-right: 5%; }

  /*end of aside*/
  .secondary-title {
    overflow: hidden; }

  h2 {
    font-size: 40px;
    font-size: 2.5rem; }

  .story1, .story2, .story3, .story4 {
    width: 50%;
    height: 240px;
    float: left;
    background-size: 100%;
    background-repeat: no-repeat; } }
/*end of media query*/
@media screen and (min-width: 950px) {
  h1 {
    font-size: 110px;
    font-size: 6.875rem; }

  article h3 {
    font-size: 60px;
    font-size: 3.125rem; }

  /*end of article*/
  .main {
    max-width: 980px;
    margin: 0 auto; }

  h2 {
    font-size: 60px;
    font-size: 3.75rem; }

  .story1, .story2, .story3, .story4 {
    width: 25%; }

  footer {
    width: 100%;
    overflow: hidden;
    background: #083452;
    text-align: center; }

  .footer-left {
    width: 50%;
    padding-top: 25px;
    float: left; }
    .footer-left img, .footer-left p {
      display: inline-block;
      vertical-align: middle; }
    .footer-left p {
      padding-left: 5px;
      padding-top: 5px;
      color: #a3b3bf;
      font-size: 14px;
      font-size: 0.875rem; }

  .footer-right {
    width: 50%;
    margin-top: 30px;
    float: right; }
    .footer-right li {
      display: inline-block;
      padding-left: 3px;
      color: #a3b3bf;
      font-size: 14px; } }
/*end of media query*/

/*# sourceMappingURL=style.css.map */
