@import 'reset';
@import 'colors';
@import 'type';
@import 'buttons';

/*
=================================================================
							OVERALL LAYOUT
=================================================================
*/

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
} 

.container {
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

@mixin valign {
	display: inline-block;
	vertical-align: middle;
}

/*
=================================================================
							HEADER
=================================================================
*/

header {
	background: url("../images/surf.jpg");
	background-size: cover;
}

/*
---------------------------------
			Header Top
---------------------------------
*/

.header-top {
	width: 100%;

	.top-left {
		width: 80%;
		padding-top: 20px;
		margin: 0 auto;
		text-align: center;

		img {
			width: 10%;
			max-width: 47px;
			@include valign;
		}

		p {
			color: $dkblue;
			font-size: 18px;
			font-size: 1.125em;
			text-transform: uppercase;
			padding-left: 15px;
			@include valign;
		}
	}

	nav {
		width: 80%;
		margin: 0 auto;
		text-align: center;
		padding-top: 20px;

		ul {
			li {
				color: $dkblue;
				font-size: 18px;
				font-size: 1.125em;
				text-transform: uppercase;
				padding-left: 20px;
				@include valign;
			}
		}

		img {
			padding-left: 15px;
			@include valign;
		}

	}

}

/*
---------------------------------
			Header Main
---------------------------------
*/

.header-main {
	padding: 30px 10px 30px 10px;
	text-align: center;
}

.header-main p {
	color: white;
	font-size: 16px;
	font-size: 1rem;
	text-align: center;
}

/*
=================================================================
							MAIN
=================================================================
*/

.main {
	width: 100%;
}

/*
---------------------------------
			Article
---------------------------------
*/

article {
	width: 100%;
	float: left;
	padding: 30px 50px;
	
	img {
		width: 22px;
		height: 22px;
	}
}

.date {
	color: $ltgrey;
	font-size: 14px;
	font-style: lighter;
	display: inline-block;
	padding-left: 90px;
	padding-top: 20px;
}

.story {
	margin-top: 20px;
	font-weight: lighter;

}

.radical {
	color: $mdblue;
	font-size: 24px;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: lighter;
	text-transform: uppercase;
	margin-top: 22px;
	margin-left: 1px;
	padding-left: 20px;
	padding-top: 5px;
	border-left: 2px solid $ltgrey;
}


/*
---------------------------------
			Aside
---------------------------------
*/

aside {
	width: 100%;
	margin-top: 90px;
	overflow: hidden;

	.aside-author img {
		width: 50%;
		max-width: 84px;
		margin-left: 40%;
	}

	p {
		color: $ltgrey;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: lighter;
		padding: 0 50px 30px 50px;

	}

	ul {
		margin-top: 25px;
		margin-bottom: 45px;
		text-align: center;

		li a {
			color: $ltgrey;
			font-size: 14px;
			font-style: lighter;
			display: inline-block;
			padding-right: 10px;
			padding-left: 10px;
		}

	}

	img {
		width: 70%;
		max-width: 278px;
		margin-left: 20%;
	}

	.about-ad {
		margin-left: 60%;
	}
}

/*
=================================================================
							SECONDARY
=================================================================
*/

.secondary {
	width: 100%;
}

.secondary-title {
	width: 100%;
	border-top: 1px solid $ltgrey;
}

.pop-stories {
	height: 330px;
	width: 1300px;
}

.story1 {
	width: 325px;
	height: 330px;
	background: url("../images/surfer.jpg");
	background-size: cover;
	float: left;
	position: relative;
}

.story1 h4 {
	left: 5px;
}

.story2 {
	width: 325px;
	height: 330px;
	background: url("../images/beer.jpg");
	background-size: cover;
	float: left;
	position: relative;
}

.story2 h4 {
	color: white;
}

.story3 {
	width: 325px;
	height: 330px;
	background: url("../images/zack.jpg");
	background-size: cover;
	float: left;
	position: relative;
}

.story4 {
	width: 325px;
	height: 330px;
	background: url("../images/booze.jpg");
	background-size: cover;
	float: left;
	position: relative;
}

/*
=================================================================
							FOOTER
=================================================================
*/

footer {
	width: 100%;
	overflow: hidden;
	background: $dkblue;
}

.footer-left {
	padding-top: 25px;
	padding-left: 160px;
	float: left;

	img, p {
		@include valign;
	}

	p {
		padding-left: 5px;
		padding-top: 5px;
		color: $ltgrey;
		font-size: 14px;
	}
}

.footer-right {
	padding-top: 35px;
	padding-right: 160px;
	float: right;
 
 	li {
 		display: inline-block;
		padding-left: 3px;	
		color: $ltgrey;
		font-size: 14px;
 	}
	 
}