$border: 2px dashed red;

img {
	max-width: 100%;
}

//TYPE -----------------------------------------------------
@mixin font($em){
	font-size: ($em*18) + px;
	font-size: ($em) + em;
}

$base-font-size: 1;
$base-font-color: $dk-blue;

$base-font-family: "alverata-informal-pe", Helvetica, sans-serif;
$base-line-height: 1.6;
$base-font-weight: 400;
$bold: 700;
$regular: 400;

$base-header-font: "signo", Helvetica, sans-serif;
$base-header-lheight: 1.5;
$base-header-weight: 700;

$signo: "signo", Helvetica, sans-serif;
$alverata: "alverata-informal-pe", Helvetica, sans-serif;  

body {
	@include font(1);
	font-family: $base-font-family;
	line-height: $base-line-height;
	color: $base-font-color;
}

//HEADERS

h1, h2, h3, h4, h5 {
	font-family: $base-header-font;
	font-weight: $base-header-weight;
	line-height: $base-header-lheight;
	text-transform: uppercase;
}

h1 {
	@include font(3.889);
	color: white;
}

h2 {
	@include font(2.222);
}

h3, h4 {
	@include font(1.333);
}

h4 {
	font-style: italic;
}

h5 {
	@include font(1.222);
}

// h6 {
// 	@include font(3.333);
// }

p {
	margin-bottom: 0.875em;
}

a {
	text-decoration: none;
	color: $base-font-color;
}

//SEGMENT STYLE -----------------------------------------------------

.dots {
  width: 100%;
  border: 4px dotted $aqua;
}

//BUTTONS -----------------------------------------------------

button {
	border-radius: 10px;
	border: 0;
	font-family: $signo;
	font-weight: $bold;
	@include font(1.111);
	padding: 10px 15px;
}

//FOOTER

.social-btn1, .social-btn2 {
	font-family: $alverata;
	font-weight: $regular;
	@include font(1.111);
	margin-bottom: 15px;
	text-align: center;	

	&:hover {
		background: url(../assets/images/texture_aqua1.png) $lt-red;
	}
}

.social-btn1 {
	background: url(../assets/images/texture_aqua1.png) $gold;
}

.social-btn2 {
	background: url(../assets/images/texture_aqua2.png) $gold;
}

