//TYPOGRAPHY -----------------------------------------------------
@mixin font($em){
	font-size: ($em*18) + px;
	font-size: ($em) + em;
}

$base-font-size: 1;

$base-font-family: "alverata-informal-pe", Helvetica, sans-serif;
$base-line-height: 1.6;
$base-font-weight: 400;
$bold: 700;

$base-header-font: "signo", Helvetica, sans-serif;
$base-header-lheight: 1.8;
$base-header-weight: 700;

body {
	@include font(1);
	font-family: $base-font-family;
	line-height: $base-line-height;
	color: $dk-blue;
}

//HEADERS

h1, h2, h3, h4, h5, h6 {
	line-height: $base-header-lheight;
}

h1 {
	@include font(3.333);
	font-family: "rinse", Helvetica, sans-serif;
}

h2 {
	@include font(2.778);
}

h3 {
	@include font(2.222);
}

// h4 {
// 	@include font(3.333);
// }

// h5 {
// 	@include font(3.333);
// }

// h6 {
// 	@include font(3.333);
// }

p {
	margin-bottom: 0.875em;
}

a {
	text-decoration: none;
}
