$dk-blue: #20253F;
$md-blue: #7A7B8C;
$lt-blue: #A6A7B3;

$dk-aqua: #3E988F;
$aqua: #53CBBE;
$lt-aqua: #98E0D8;

$deep-red: #EB0018;
$lt-red: #F36674;
$pink: #F8A3AC;

$gold: #F9AB3C;
$lt-gold: #FABC63;


$base-font-color: #20253F;
$base-dot-color: #53CBBE;