//HEADERS --------------------------------------------------
.login {
	float: left;
	color: white;
	background: url(../assets/images/texture_white1.png) $lt-aqua;
	border-radius: 10px;
	padding: 5px;
	margin-top: 10px;
	margin-left: 15px;

	&:hover {
		background: url(../assets/images/texture_white1.png) $lt-red;
	}
}

.main-nav-wrapper {
	min-height: 90px;
}

.main-nav {
	text-align: right;
	width: 100%;

	ul {
		float: right;
		margin-top: 10px;
		margin-right: 15px;
		padding-bottom: 15px;
	}

	a {
		font-family: $base-header-font;
		font-weight: $bold;
		padding: 10px;
		@include font(1);
	}

	li {
		display: inline-block;

		&:first-of-type {
			margin-left: 0;
		}
	}
} //end of main-nav

.logo-wrapper {
	width: 90%;
	max-width: 530px;
	padding: 20px 30px 15px 30px;
	margin: 0 auto;
}

.btn-center {
	max-width: 180px;
	margin: 0 auto;

	button {
	 	background: url(../assets/images/texture_white1.png) $lt-red;
		
		&:hover {
	 		background: url(../assets/images/texture_white1.png) $gold;
		}
	}
}

.volunteers-nav {
	background: $aqua;

	ul {
		text-align: center;
	}

	a {
		color: white;
		@include font(1);
		
	}
}

.selected-nav {
	 background: url(../assets/images/texture_white1.png) $dk-aqua;
}

.breadcrumbs {
	padding: 10px;

	li {
		display: inline-block;

		&:hover {
			a {
				color: $lt-red;
			}
		}
	}
}

//HOME CONTENT ---------------------------------------------

.hero {
	overflow: hidden;
	background: url('http://lorempixel.com/output/people-q-c-1204-480-4.jpg') no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 400px;
	padding-top: 6em;
	position: relative;

	.overlay {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		background: $aqua;
		@include linear-gradient(rgba(83, 203, 190, 0.5), rgba(83, 203, 190, 0.5));

		h1, p {
			padding-left: 30px;
			padding-right: 30px;
		}

		h1 {
			@include font(2.3);
			line-height: 1.4;
			text-align: left;
		}

		p {
			color: white;
			max-width: 500px;
			display: none;
		}
	}
}

@media screen and (min-width: 427px) {
	.hero {
		.overlay {
			p {
				display: block;
			}
		}
	}
}

.you-help, .where {
	padding: 30px;
}

.you-help {
	background: $dk-blue;
	overflow: hidden;
	color: white;

	h2 {
		@include font(2);
		text-transform: none;
		margin-top: 0;
	}
}

.where {
	overflow: hidden;
	color: white;
	text-shadow: 1px 3px 5px $dk-blue;
	background: url(../assets/images/sky.jpg) no-repeat;
	background-position: center;
	background-size: cover;

	h2 {
		margin-top: 0;
		max-width: 650px;
	}
}

.users {
	margin-top: 30px;
	margin-bottom: 30px;

	li {
		margin: 3%;
		border-radius: 10px;
		text-align: center;

		a {
			@include font(1.5);
			font-weight: $bold;
			padding: 30px;
			display: block;
		}

		&:nth-child(odd) {
			background: url(../assets/images/texture_white1.png) $gold;
		}

		&:nth-child(even) {
			background: url(../assets/images/texture_white2.png) $gold;
		}

		&:hover {
			background: url(../assets/images/texture_white2.png) $lt-red;
			a {
				color: white;
			}
		}
	}
}

.blogs {
	margin: 0 30px 30px 30px;

	button {
		margin-top: 15px;
		color: white;
	}
}

.two-posts {
	padding: 0 15px 15px 15px;
	overflow: hidden;
}

.post {
	max-width: 500px;
	margin: 0 auto;
}

//VOLUNTEERS CONTENT ---------------------------------------------
.hd-volunteers {
	background: url(../assets/images/volunteers_header.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	padding: 6em;
	position: relative;

}

.vol-reqs {

	ul {
		list-style: disc inside;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.volunteers-img {
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
}

.research {
	width: 100%;
	max-width: 600px;
	padding-right: 30px;

	li {
		padding: 15px;
		margin: 3%;
		border-radius: 10px;
		text-align: center;

		a {
			@include font(1.5);
		}

		&:nth-child(odd) {
			background: url(../assets/images/texture_white1.png) $gold;
		}

		&:nth-child(even) {
			background: url(../assets/images/texture_white2.png) $gold;
		}

		&:hover {
			background: url(../assets/images/texture_white2.png) $lt-red;
			a {
				color: white;
			}
		}
	}
}

//DESTINATION CONTENT ---------------------------------------------
.map {
	h1 {
		color: $dk-blue;
		text-shadow: none;
		padding: 15px 0;
	}
}

.country-buttons {
	
	li {
		padding: 15px;
		margin: 3%;
		border-radius: 10px;
		text-align: center;

		a {
			@include font(1.5);
		}

		&:nth-child(odd) {
			background: url(../assets/images/texture_white1.png) $gold;
		}

		&:nth-child(even) {
			background: url(../assets/images/texture_white2.png) $gold;
		}

		&:hover {
			background: url(../assets/images/texture_white2.png) $lt-red;
			a {
				color: white;
			}
		}
	}
}

//COSTA RICA CONTENT ---------------------------------------------
.country-nav {
	display: none;
	background: url(../assets/images/texture_white1.png) $gold;
}

.country-section {
	overflow: hidden;

	ul {
		list-style: disc inside;
		padding-left: 15px;
		padding-right: 15px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
}

.country-content {
	overflow: hidden;
}

.country-header-img {
	background: url(../assets/images/costa_rica_header.jpg);
	background-size: cover;
	background-position: center;
	padding: 6em;
}

.country-block {
	margin: 30px;	
}

.video {
	margin-top: 15px;
	margin-bottom: 15px;
}

.back {
	text-align: center;
	margin: 30px;

	a {
		@include font(1.5);
		font-weight: $bold;

		&:hover {
			color: $lt-red;
		}
	}
}

//FOOTER ----------------------------------------------------
footer {
	background: $aqua;

	h5 {
		color: white;
		margin-bottom: 15px;
	}

	li {
		margin-bottom: 15px;
	}

	a {
		color: white;
		@include font(1.111);
	}
}

.social-icons {
	float: left;
	padding-right: 15px;
}

.float-lt {
	float: left;
	padding-right: 15px;
}

//CSS Menu

/* Base Styles */

#cssmenu {
	padding: 20px;
}

#cssmenu > ul > li > a {
	display: block;
	font-family: $base-header-font;
	font-weight: $base-header-weight;
	line-height: $base-header-lheight;
	text-transform: uppercase;
	@include font(1.222);
	padding-bottom: 15px;
}

#cssmenu > ul > li > a > span {
  display: block;
}

#cssmenu > ul > li.has-sub > a span {
  background: url(../menu_images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../menu_images/icon_minus.png) 96% center no-repeat;
}

#cssmenu ul ul {
  display: none;
  overflow: hidden;
}

#cssmenu ul ul a {
  display: block;
}

