//HEADER ----------------------------------------------------
.main-nav {
	text-align: right;
	padding: 15px;

	a {
		font-family: $base-header-font;
		@include font(1.111);
	}

	li {
		display: inline-block;
		margin: 15px 0 15px 15px;

		&:first-of-type {
			margin-left: 0;
		}
	}

	.apply, .donate {
		border-radius: 100px/50px;

  		a {
  			color: white;
  		}
	}

	.apply {
		background: url(../assets/images/texture_white1.png) $gold;
		padding: 10px 17px;
	}

	.donate {
		background: url(../assets/images/texture_white2.png) $lt-red;
		padding: 10px;
	}
} //end of main-nav

.logo {
  width: 80%;
  max-width: 530px;
  margin: 30px 2%;
}

@media screen and (max-width: 380px) {
	.logo {
		width: 95%;
	}
}

//HOME CONTENT

.hero {
	overflow: hidden;
	background: url('http://lorempixel.com/output/people-q-c-1204-480-4.jpg') no-repeat;
	background-position: center;
	width: 100%;
	height: 400px;
	padding-top: 6em;
	text-shadow: 1px 3px 5px $dk-blue;
	position: relative;

	.overlay {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		// background: $aqua;
		// background: linear-gradient(rgba(83, 203, 190, 0.5), rgba(83, 203, 190, 0.5));
		@include linear-gradient(rgba(83, 203, 190, 0.5), rgba(83, 203, 190, 0.5));

		h1, p {
			margin-left: 3%;
		}

		h1 {
			@include font(3);
		}

		p {
			color: white;
			max-width: 500px;
		}
	}

}

.you-help, .where {
	padding: 30px;
}

.you-help {
	background: $lt-red;
	overflow: hidden;
	color: white;

	h2 {
		@include font(2);
		text-transform: none;
	}
}

.where {
	overflow: hidden;
	color: white;
	text-shadow: 1px 3px 5px $dk-blue;
	background: url(../assets/images/sky.jpg) no-repeat;
	background-position: center;
}



//FOOTER ----------------------------------------------------
footer {
	background: $aqua;

	h5 {
		color: white;
		margin-bottom: 15px;
	}

	li {
		margin-bottom: 15px;
	}

	a {
		color: white;
		@include font(1.111);
	}
}

.social-icons {
	float: left;
	padding-right: 15px;
}

.float-lt {
	float: left;
	padding-right: 15px;
}

//CSS Menu

/* Base Styles */

#cssmenu {
	padding: 20px;
}

#cssmenu > ul > li > a {
	display: block;
	font-family: $base-header-font;
	font-weight: $base-header-weight;
	line-height: $base-header-lheight;
	text-transform: uppercase;
	@include font(1.222);
	padding-bottom: 15px;
}

#cssmenu > ul > li > a > span {
  display: block;
}

#cssmenu > ul > li.has-sub > a span {
  background: url(../menu_images/icon_plus.png) 96% center no-repeat;
}
#cssmenu > ul > li.has-sub.active > a span {
  background: url(../menu_images/icon_minus.png) 96% center no-repeat;
}

#cssmenu ul ul {
  display: none;
  overflow: hidden;
}

#cssmenu ul ul a {
  display: block;
}

