@media screen and (min-width: 550px) {
	.hero {
		.overlay {
			h1 {
				@include font(3);
				line-height: $base-header-lheight;
			}
		}
	}

	.you-help, .where {
		min-height: 290px;
	}

	.you-help {
		width: 37.5%;
		float: left;
	}

	.where {
		width: 62.5%;
		float: left;
	}

	@media screen and (min-width: 708px) {
		.you-help, .where {
			min-height: 0;
			height: 260px;
		}
	}

	.users {
		overflow: hidden;

		li {
			width: 27.333%;
			float: left;
		}
	}

	.blogs {
		overflow: hidden; 

		div {
			width: 50%;
			float: left;
			padding-right: 30px;
		}
	}

	.vol-reqs, .volunteers-img {
		float: left;
	}

	.vol-reqs {
		width: 50%;
	}

	.country-buttons {
		overflow: hidden;

		li {
			width: 44%;
			float: left;
		}
	}

	.country-nav {
		display: block;
		padding-left: 3%;
		padding-bottom: 30px;
		width: 25%;
		float: left;
		border-radius: 0 0 10px 0;

		li {
			padding: 10px;
			border-radius: 10px 0 0 10px;

			&:hover {
				background: $lt-red;

				a {
					color: white;
					font-weight: $regular;
				}
			}
		}

		a {
			font-weight: $bold;

			&:hover {
				color: white;
			}
		}
	}

	.country-section {
		width: 75%;
		float: left;
		// margin-right: 3%;
	}

} //end of media query