@media screen and (min-width: 550px) {
	.you-help, .where {
		min-height: 290px;
	}

	.you-help {
		width: 37.5%;
		float: left;
	}

	.where {
		width: 62.5%;
		float: left;
	}

	@media screen and (min-width: 708px) {
		.you-help, .where {
			min-height: 0;
			height: 260px;
		}
	}

	.users {
		overflow: hidden;

		li {
			width: 27.333%;
			float: left;
		}
	}

	.blogs {
		overflow: hidden; 

		div {
			width: 50%;
			float: left;
			padding-right: 30px;
		}
	}

	.vol-reqs, .volunteers-img {
		float: left;
	}

	.vol-reqs {
		width: 50%;
	}

	.country-buttons {
		overflow: hidden;

		li {
			width: 44%;
			float: left;
		}
	}

} //end of media query