/*! responsive-nav.js 1.0.39 by @viljamis */
.nav-collapse ul {
  max-width: 817px;
  margin: 0 auto;
  padding: 0;
  display: block;
  list-style: none;
  overflow: hidden;
}

.nav-collapse li {
  text-align: right;
  padding: 15px 30px;
}

@media screen and (min-width: 815px) {
  .nav-collapse li {
    text-align: center;
  }
}

.nav-collapse a {
  color: white;
  text-decoration: none;

}

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
}

.nav-collapse.opened {
  max-height: 9999px;
}

.nav-toggle {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  display: block;
  text-decoration: none;
  text-align: right;
}

.nav-toggle span {
  color: $lt-red;
  @include font(2);
  border: 3px solid $lt-red;
  @include border-radius(10px);
  padding: 0 5px;
}

@media screen and (min-width: 815px) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }

  .country-nav {
    @include border-radius-bottom-right(10px);
  }
}
