/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  max-width: 100%; }

body {
  font-size: 18px;
  font-size: 1em;
  font-family: "alverata-informal-pe", Helvetica, sans-serif;
  line-height: 1.7;
  color: #20253F; }

h1, h2, h3, h4, h5 {
  font-family: "signo", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase; }

h1 {
  font-size: 54px;
  font-size: 3em;
  color: white;
  text-shadow: 1px 3px 5px #20253F;
  text-align: center; }

h2 {
  font-size: 39.996px;
  font-size: 2.222em; }

h3, h4 {
  font-size: 23.994px;
  font-size: 1.333em;
  margin-top: 30px; }

h4 {
  font-style: italic;
  margin-bottom: 10px; }

h5 {
  font-size: 21.996px;
  font-size: 1.222em; }

p {
  margin-bottom: 10px;
  padding-right: 15px; }

a {
  text-decoration: none;
  color: #20253F; }

.dots {
  width: 100%;
  border: 4px dotted #53CBBE; }

.author {
  color: #7A7B8C; }

.date {
  color: #53CBBE; }

.link {
  border-bottom: 3px solid #53CBBE;
  font-weight: 700;
  color: #7A7B8C; }
  .link:hover {
    border-bottom: 3px solid #F36674;
    color: #F36674; }

.photo-description {
  font-size: 16.182px;
  font-size: 0.899em;
  text-align: center;
  color: #7A7B8C; }

.bc-current {
  color: #7A7B8C; }

button {
  border-radius: 10px;
  border: 0;
  font-family: "signo", Helvetica, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 19.998px;
  font-size: 1.111em;
  padding: 10px 15px; }

.btn1:hover,
.btn2:hover {
  background: url(../assets/images/texture_white1.png) #F36674; }

.btn1 {
  background: url(../assets/images/texture_white1.png) #53CBBE; }

.btn2 {
  background: url(../assets/images/texture_white2.png) #53CBBE; }

.social-btn1, .social-btn2 {
  font-family: "alverata-informal-pe", Helvetica, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 19.998px;
  font-size: 1.111em;
  margin-bottom: 15px;
  text-align: center; }
  .social-btn1:hover, .social-btn2:hover {
    background: url(../assets/images/texture_aqua1.png) #F36674; }

.social-btn1 {
  background: url(../assets/images/texture_aqua1.png) #F9AB3C; }

.social-btn2 {
  background: url(../assets/images/texture_aqua2.png) #F9AB3C; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.container {
  overflow: hidden; }

.wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 3%; }

.main-nav {
  text-align: right;
  padding: 15px; }
  .main-nav a {
    font-family: "signo", Helvetica, sans-serif;
    font-size: 19.998px;
    font-size: 1.111em; }
  .main-nav li {
    display: inline-block;
    margin: 15px 0 15px 15px; }
    .main-nav li:first-of-type {
      margin-left: 0; }
  .main-nav .apply, .main-nav .donate {
    border-radius: 100px/50px; }
    .main-nav .apply a, .main-nav .donate a {
      color: white; }
  .main-nav .apply {
    background: url(../assets/images/texture_white1.png) #F9AB3C;
    padding: 10px 17px; }
  .main-nav .donate {
    background: url(../assets/images/texture_white2.png) #F36674;
    padding: 10px; }

.logo {
  width: 80%;
  max-width: 530px;
  margin: 30px 2%; }

@media screen and (max-width: 380px) {
  .logo {
    width: 95%; } }
.volunteers-nav {
  background: #53CBBE; }
  .volunteers-nav ul {
    text-align: center; }
  .volunteers-nav li {
    display: inline-block;
    text-align: center;
    max-width: 160px;
    padding: 15px; }
    .volunteers-nav li:hover {
      background: #3E988F; }
  .volunteers-nav a {
    color: white;
    font-size: 18px;
    font-size: 1em; }

.breadcrumbs {
  padding: 15px; }
  .breadcrumbs li {
    display: inline-block; }

.hero {
  overflow: hidden;
  background: url("http://lorempixel.com/output/people-q-c-1204-480-4.jpg") no-repeat;
  background-position: center;
  width: 100%;
  height: 400px;
  padding-top: 6em;
  position: relative; }
  .hero .overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(83, 203, 190, 0.5);
    background-image: -webkit-linear-gradient(rgba(83, 203, 190, 0.5), rgba(83, 203, 190, 0.5));
    background-image: linear-gradient(rgba(83, 203, 190, 0.5), rgba(83, 203, 190, 0.5)); }
    .hero .overlay h1, .hero .overlay p {
      margin-left: 3%; }
    .hero .overlay h1 {
      font-size: 54px;
      font-size: 3em; }
    .hero .overlay p {
      color: white;
      max-width: 500px; }

.you-help, .where {
  padding: 30px; }

.you-help {
  background: #20253F;
  overflow: hidden;
  color: white; }
  .you-help h2 {
    font-size: 36px;
    font-size: 2em;
    text-transform: none; }

.where {
  overflow: hidden;
  color: white;
  text-shadow: 1px 3px 5px #20253F;
  background: url(../assets/images/sky.jpg) no-repeat;
  background-position: center; }

.users {
  margin-top: 30px;
  margin-bottom: 30px; }
  .users li {
    padding: 15px;
    margin: 3%;
    border-radius: 10px;
    text-align: center; }
    .users li a {
      font-size: 27px;
      font-size: 1.5em; }
    .users li:nth-child(odd) {
      background: url(../assets/images/texture_white1.png) #F9AB3C; }
    .users li:nth-child(even) {
      background: url(../assets/images/texture_white2.png) #F9AB3C; }
    .users li:hover {
      background: url(../assets/images/texture_white2.png) #F36674; }
      .users li:hover a {
        color: white; }

.blogs {
  margin: 0 30px 30px 30px; }

section {
  overflow: hidden; }

.hd-volunteers {
  background: url(../assets/images/volunteers_header.jpg) no-repeat;
  background-position: center;
  width: 100%;
  padding: 6em;
  position: relative; }

.vol-reqs h4 {
  margin-top: 0; }
.vol-reqs ul {
  list-style: disc inside;
  padding-left: 15px;
  padding-right: 15px; }

.volunteers-img {
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px; }

.research {
  width: 100%;
  max-width: 600px;
  padding-right: 30px; }
  .research li {
    padding: 15px;
    margin: 3%;
    border-radius: 10px;
    text-align: center; }
    .research li a {
      font-size: 27px;
      font-size: 1.5em; }
    .research li:nth-child(odd) {
      background: url(../assets/images/texture_white1.png) #F9AB3C; }
    .research li:nth-child(even) {
      background: url(../assets/images/texture_white2.png) #F9AB3C; }
    .research li:hover {
      background: url(../assets/images/texture_white2.png) #F36674; }
      .research li:hover a {
        color: white; }

.country-buttons li {
  padding: 15px;
  margin: 3%;
  border-radius: 10px;
  text-align: center; }
  .country-buttons li a {
    font-size: 27px;
    font-size: 1.5em; }
  .country-buttons li:nth-child(odd) {
    background: url(../assets/images/texture_white1.png) #F9AB3C; }
  .country-buttons li:nth-child(even) {
    background: url(../assets/images/texture_white2.png) #F9AB3C; }
  .country-buttons li:hover {
    background: url(../assets/images/texture_white2.png) #F36674; }
    .country-buttons li:hover a {
      color: white; }

footer {
  background: #53CBBE; }
  footer h5 {
    color: white;
    margin-bottom: 15px; }
  footer li {
    margin-bottom: 15px; }
  footer a {
    color: white;
    font-size: 19.998px;
    font-size: 1.111em; }

.social-icons {
  float: left;
  padding-right: 15px; }

.float-lt {
  float: left;
  padding-right: 15px; }

/* Base Styles */
#cssmenu {
  padding: 20px; }

#cssmenu > ul > li > a {
  display: block;
  font-family: "signo", Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 21.996px;
  font-size: 1.222em;
  padding-bottom: 15px; }

#cssmenu > ul > li > a > span {
  display: block; }

#cssmenu > ul > li.has-sub > a span {
  background: url(../menu_images/icon_plus.png) 96% center no-repeat; }

#cssmenu > ul > li.has-sub.active > a span {
  background: url(../menu_images/icon_minus.png) 96% center no-repeat; }

#cssmenu ul ul {
  display: none;
  overflow: hidden; }

#cssmenu ul ul a {
  display: block; }

@media screen and (min-width: 550px) {
  .you-help, .where {
    min-height: 290px; }

  .you-help {
    width: 37.5%;
    float: left; }

  .where {
    width: 62.5%;
    float: left; } }
@media screen and (min-width: 550px) and (min-width: 708px) {
  .you-help, .where {
    min-height: 0;
    height: 260px; } }
@media screen and (min-width: 550px) {
  .users {
    overflow: hidden; }
    .users li {
      width: 27.333%;
      float: left; }

  .blogs {
    overflow: hidden; }
    .blogs div {
      width: 50%;
      float: left;
      padding-right: 30px; }

  .vol-reqs, .volunteers-img {
    float: left; }

  .vol-reqs {
    width: 50%; }

  .country-buttons {
    overflow: hidden; }
    .country-buttons li {
      width: 44%;
      float: left; } }

/*# sourceMappingURL=style.css.map */
